In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
from datetime import date, timedelta

In [2]:
casedf = pd.read_csv("cases_state.csv")

In [3]:
casedf

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_0_4,cases_5_11,cases_12_17,cases_18_29,cases_30_39,cases_40_49,cases_50_59,cases_60_69,cases_70_79,cases_80
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15371,2022-09-11,Selangor,268,0,771,5556,0,35,0,47,...,13,10,5,67,80,45,21,12,11,4
15372,2022-09-11,Terengganu,26,0,27,428,0,7,0,11,...,3,1,1,5,4,3,0,2,2,5
15373,2022-09-11,W.P. Kuala Lumpur,328,0,479,4501,0,24,1,31,...,9,8,8,113,86,42,35,14,8,5
15374,2022-09-11,W.P. Labuan,2,0,11,41,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
15375,2022-09-11,W.P. Putrajaya,43,0,27,476,0,2,0,14,...,0,1,3,6,22,6,2,2,0,1

In [4]:
deathdf = pd.read_csv("deaths_state.csv")

In [5]:
deathdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14544 entries, 0 to 14543
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            14544 non-null  object
 1   state           14544 non-null  object
 2   deaths_new      14544 non-null  int64
 3   deaths_bid      14544 non-null  int64
 4   deaths_new_dod  14544 non-null  int64
 5   deaths_bid_dod  14544 non-null  int64
 6   deaths_unvax    14544 non-null  int64
 7   deaths_pvax     14544 non-null  int64
 8   deaths_fvax     14544 non-null  int64
 9   deaths_boost    14544 non-null  int64
 10  deaths_tat      14544 non-null  int64
dtypes: int64(9), object(2)
memory usage: 1.2+ MB

In [6]:
coviddf = pd.merge(casedf,deathdf, on=['date','state'], how='left')

In [7]:
coviddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15376 entries, 0 to 15375
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15376 non-null  object
 1   state             15376 non-null  object
 2   cases_new         15376 non-null  int64
 3   cases_import      15376 non-null  int64
 4   cases_recovered   15376 non-null  int64
 5   cases_active      15376 non-null  int64
 6   cases_cluster     15376 non-null  int64
 7   cases_unvax       15376 non-null  int64
 8   cases_pvax        15376 non-null  int64
 9   cases_fvax        15376 non-null  int64
 10  cases_boost       15376 non-null  int64
 11  cases_child       15376 non-null  int64
 12  cases_adolescent  15376 non-null  int64
 13  cases_adult       15376 non-null  int64
 14  cases_elderly     15376 non-null  int64
 15  cases_0_4         15376 non-null  int64
 16  cases_5_11        15376 non-null  int64
 17  cases_12_17       15376 non-null  int64
 18  cases_18_29       15376 non-null  int64
 19  cases_30_39       15376 non-null  int64
 20  cases_40_49       15376 non-null  int64
 21  cases_50_59       15376 non-null  int64
 22  cases_60_69       15376 non-null  int64
 23  cases_70_79       15376 non-null  int64
 24  cases_80          15376 non-null  int64
 25  deaths_new        14544 non-null  float64
 26  deaths_bid        14544 non-null  float64
 27  deaths_new_dod    14544 non-null  float64
 28  deaths_bid_dod    14544 non-null  float64
 29  deaths_unvax      14544 non-null  float64
 30  deaths_pvax       14544 non-null  float64
 31  deaths_fvax       14544 non-null  float64
 32  deaths_boost      14544 non-null  float64
 33  deaths_tat        14544 non-null  float64
dtypes: float64(9), int64(23), object(2)
memory usage: 4.1+ MB

In [8]:
# Number of missing values in each column in the dataframe
coviddf.isnull().sum()

date                  0
state                 0
cases_new             0
cases_import          0
cases_recovered       0
cases_active          0
cases_cluster         0
cases_unvax           0
cases_pvax            0
cases_fvax            0
cases_boost           0
cases_child           0
cases_adolescent      0
cases_adult           0
cases_elderly         0
cases_0_4             0
cases_5_11            0
cases_12_17           0
cases_18_29           0
cases_30_39           0
cases_40_49           0
cases_50_59           0
cases_60_69           0
cases_70_79           0
cases_80              0
deaths_new          832
deaths_bid          832
deaths_new_dod      832
deaths_bid_dod      832
deaths_unvax        832
deaths_pvax         832
deaths_fvax         832
deaths_boost        832
deaths_tat          832
dtype: int64

In [9]:
coviddf.fillna(0, inplace = True)

#fill in null values in NaN fields with 0, and make as type int
#coviddf['deaths_new_dod'] = coviddf['deaths_new_dod'].fillna(0).astype(int)

#coviddf.fillna({'deaths_unvax':0, 'deaths_pvax':0}, inplace=True)

In [10]:
coviddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15376 entries, 0 to 15375
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15376 non-null  object
 1   state             15376 non-null  object
 2   cases_new         15376 non-null  int64
 3   cases_import      15376 non-null  int64
 4   cases_recovered   15376 non-null  int64
 5   cases_active      15376 non-null  int64
 6   cases_cluster     15376 non-null  int64
 7   cases_unvax       15376 non-null  int64
 8   cases_pvax        15376 non-null  int64
 9   cases_fvax        15376 non-null  int64
 10  cases_boost       15376 non-null  int64
 11  cases_child       15376 non-null  int64
 12  cases_adolescent  15376 non-null  int64
 13  cases_adult       15376 non-null  int64
 14  cases_elderly     15376 non-null  int64
 15  cases_0_4         15376 non-null  int64
 16  cases_5_11        15376 non-null  int64
 17  cases_12_17       15376 non-null  int64
 18  cases_18_29       15376 non-null  int64
 19  cases_30_39       15376 non-null  int64
 20  cases_40_49       15376 non-null  int64
 21  cases_50_59       15376 non-null  int64
 22  cases_60_69       15376 non-null  int64
 23  cases_70_79       15376 non-null  int64
 24  cases_80          15376 non-null  int64
 25  deaths_new        15376 non-null  float64
 26  deaths_bid        15376 non-null  float64
 27  deaths_new_dod    15376 non-null  float64
 28  deaths_bid_dod    15376 non-null  float64
 29  deaths_unvax      15376 non-null  float64
 30  deaths_pvax       15376 non-null  float64
 31  deaths_fvax       15376 non-null  float64
 32  deaths_boost      15376 non-null  float64
 33  deaths_tat        15376 non-null  float64
dtypes: float64(9), int64(23), object(2)
memory usage: 4.1+ MB

In [11]:
coviddf.isnull().sum()

date                0
state               0
cases_new           0
cases_import        0
cases_recovered     0
cases_active        0
cases_cluster       0
cases_unvax         0
cases_pvax          0
cases_fvax          0
cases_boost         0
cases_child         0
cases_adolescent    0
cases_adult         0
cases_elderly       0
cases_0_4           0
cases_5_11          0
cases_12_17         0
cases_18_29         0
cases_30_39         0
cases_40_49         0
cases_50_59         0
cases_60_69         0
cases_70_79         0
cases_80            0
deaths_new          0
deaths_bid          0
deaths_new_dod      0
deaths_bid_dod      0
deaths_unvax        0
deaths_pvax         0
deaths_fvax         0
deaths_boost        0
deaths_tat          0
dtype: int64

### Drop column that may not provide any information gain

In [12]:
###Drop these field as will split under age category
# 11  cases_child       15376 non-null  int64  
# 12  cases_adolescent  15376 non-null  int64  
# 13  cases_adult       15376 non-null  int64  
# 14  cases_elderly     15376 non-null  int64  

# 26  deaths_bid        14544 non-null  float64
# 27  deaths_new_dod    14544 non-null  float64
# 28  deaths_bid_dod    14544 non-null  float64
# 33  deaths_tat        14544 non-null  float64

In [13]:
coviddf.drop(['cases_child','cases_adolescent','cases_adult', 'cases_elderly', 'deaths_bid', 
             'deaths_new_dod', 'deaths_bid_dod', 'deaths_tat'], axis = 1, inplace=True)

In [41]:
# Obtain vaccine information
vaxdf = pd.read_csv("vax_state.csv")

In [62]:
vaxdf

,date,state,daily_partial,daily_full,daily_booster,daily_booster2,daily,daily_partial_adol,daily_full_adol,daily_booster_adol,...,sinopharm2,sinopharm3,sinopharm4,cansino,cansino3,cansino4,pending1,pending2,pending3,pending4
0,2021-02-24,Johor,2,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-02-24,Kedah,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-02-24,Kelantan,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-02-24,Melaka,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-02-24,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9035,2022-09-11,Selangor,53,147,58,230,488,3,5,5,...,0,0,0,0,0,0,0,0,0,0
9036,2022-09-11,Terengganu,0,1,13,1,15,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9037,2022-09-11,W.P. Kuala Lumpur,23,32,16,147,218,1,0,4,...,0,0,0,0,0,0,0,0,0,0
9038,2022-09-11,W.P. Labuan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9039,2022-09-11,W.P. Putrajaya,0,2,0,3,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# Obtain vaccine percentage base on total population
population = pd.read_csv("population.csv")

In [43]:
vax_per = pd.merge(vaxdf,population, on=['state'], how='left')

In [61]:
#For checking purpose
vax_per1 = vax_per[(vax_per["state"]=='Johor') ]
vax_per1[["state","pop"]]

      state      pop
0     Johor  3794200
16    Johor  3794200
32    Johor  3794200
48    Johor  3794200
64    Johor  3794200
...     ...      ...
8960  Johor  3794200
8976  Johor  3794200
8992  Johor  3794200
9008  Johor  3794200
9024  Johor  3794200

[565 rows x 2 columns]

In [82]:
vax_per.groupby(['date']).count()

,state,daily_partial,daily_full,daily_booster,daily_booster2,daily,daily_partial_adol,daily_full_adol,daily_booster_adol,daily_booster2_adol,...,pending1,pending2,pending3,pending4,idxs,pop,pop_18,pop_60,pop_12,pop_5
date,,,,,,,,,,,,,,,,,,,,,
2021-02-24,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2021-02-25,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2021-02-26,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2021-02-27,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2021-02-28,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-07,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2022-09-08,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2022-09-09,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2022-09-10,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2022-09-11,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16

In [ ]:
#Visitors from top 20 countries
not_cancelled = df[df['is_canceled'] != 1][['country']].value_counts().reset_index()
#Most cancelled country visitors
cancelled = df[df['is_canceled'] == 1][['country']].value_counts().reset_index()
count_check = pd.merge(not_cancelled, cancelled, how='left', on='country')
count_check.rename({'0_x':'No_not_cancelled', '0_y': 'No_cancelled'}, axis=1, inplace=True)
count_check['total'] = count_check['No_cancelled']+count_check['No_not_cancelled']
count_check['percentage_cancelled'] = count_check['No_cancelled']/(count_check['total'])
count_check = count_check.sort_values(by='total', ascending=False)
count_check.head(15)

In [123]:
# Find accumulate

list_date = vax_per.groupby(['date']).sum()

list_date[('date')== '2022-01-01']
#total_full = vax_per.groupby(['date'])['daily_full'].transform('sum')
#total_full

KeyError: False

In [92]:
vax_per['total_full'] = vax_per.groupby(['date'])['daily_full'].transform('sum')

In [108]:
vax_per[vax_per['date'] == '2022-01-01']

,date,state,daily_partial,daily_full,daily_booster,daily_booster2,daily,daily_partial_adol,daily_full_adol,daily_booster_adol,...,pending2,pending3,pending4,idxs,pop,pop_18,pop_60,pop_12,pop_5,total_full
4976,2022-01-01,Johor,78,117,10098,33,10326,28,16,4,...,0,0,0,1,3794200,2733400,445600,353900,409800,900
4977,2022-01-01,Kedah,75,29,2592,3,2699,31,4,7,...,0,0,0,2,2193600,1554800,282300,209700,254100,900
4978,2022-01-01,Kelantan,24,75,854,4,957,13,26,0,...,0,0,0,3,1928900,1258700,202100,211200,271700,900
4979,2022-01-01,Melaka,3,0,2690,5,2698,0,0,0,...,0,0,0,4,937800,683700,123200,85600,98200,900
4980,2022-01-01,Negeri Sembilan,0,6,282,1,289,0,1,0,...,0,0,0,5,1128900,819200,150300,105900,117200,900
4981,2022-01-01,Pahang,57,159,1356,6,1578,38,89,1,...,0,0,0,6,1684700,1188000,198100,172000,192600,900
4982,2022-01-01,Perak,9,21,1427,9,1466,4,5,0,...,0,0,0,8,2509000,1878100,410000,228000,239700,900
4983,2022-01-01,Perlis,0,0,1,0,1,0,0,0,...,0,0,0,9,255500,182100,36300,23000,29100,900
4984,2022-01-01,Pulau Pinang,4,15,177,0,196,2,1,1,...,0,0,0,7,1774200,1374300,247600,139400,155600,900
4985,2022-01-01,Sabah,31,210,1289,8,1538,9,55,9,...,0,0,0,12,3832500,2716600,249000,426200,411000,900
4986,2022-01-01,Sarawak,111,89,806,8,1014,10,32,14,...,0,1,0,13,2824700,2066100,348300,289200,286000,900
4987,2022-01-01,Selangor,101,122,11959,43,12225,14,23,4,...,0,2,0,10,6555100,4776300,607800,569200,715400,900
4988,2022-01-01,Terengganu,20,18,4147,8,4193,5,11,0,...,0,0,0,11,1275200,822000,120100,138000,178700,900
4989,2022-01-01,W.P. Kuala Lumpur,24,37,3063,5,3129,2,2,0,...,0,0,0,14,1746600,1332700,214200,139200,158300,900
4990,2022-01-01,W.P. Labuan,0,0,0,0,0,0,0,0,...,0,0,0,15,100100,69400,8500,10300,11700,900
4991,2022-01-01,W.P. Putrajaya,0,2,130,1,133,0,2,0,...,0,0,0,16,116100,72800,5600,10600,21400,900

In [19]:
#Filter only with a single state for prediction

covidOneState = coviddf[coviddf["state"] == 'Selangor']  # <== Only select Selangor
covidOneState

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_40_49,cases_50_59,cases_60_69,cases_70_79,cases_80,deaths_new,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost
11,2020-01-25,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
27,2020-01-26,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
43,2020-01-27,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
59,2020-01-28,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
75,2020-01-29,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15307,2022-09-07,Selangor,868,0,724,6088,0,37,2,144,...,151,80,37,20,7,2.0,0.0,0.0,0.0,0.0
15323,2022-09-08,Selangor,448,0,659,5877,3,48,2,59,...,85,26,12,12,5,0.0,0.0,0.0,0.0,0.0
15339,2022-09-09,Selangor,500,0,416,5961,0,41,1,71,...,87,49,26,7,10,0.0,0.0,0.0,0.0,0.0
15355,2022-09-10,Selangor,590,0,492,6059,0,65,3,84,...,75,61,20,13,11,0.0,0.0,0.0,0.0,0.0
15371,2022-09-11,Selangor,268,0,771,5556,0,35,0,47,...,45,21,12,11,4,0.0,0.0,0.0,0.0,0.0

In [24]:
#Introduct new field => case_next_day

covidOneState['cases_next_day'] = covidOneState['cases_new'].shift(-1)

C:\Users\User\AppData\Local\Temp/ipykernel_15760/109577865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covidOneState['cases_next_day'] = covidOneState['cases_new'].shift(-1)

In [29]:
covidOneState.head(20)

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_50_59,cases_60_69,cases_70_79,cases_80,deaths_new,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,cases_next_day
11,2020-01-25,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
27,2020-01-26,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
43,2020-01-27,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
59,2020-01-28,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
75,2020-01-29,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
91,2020-01-30,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
107,2020-01-31,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
123,2020-02-01,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
139,2020-02-02,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
155,2020-02-03,Selangor,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
171,2020-02-04,Selangor,1,1,0,1,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
187,2020-02-05,Selangor,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
203,2020-02-06,Selangor,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
219,2020-02-07,Selangor,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
235,2020-02-08,Selangor,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
251,2020-02-09,Selangor,1,0,0,2,0,1,0,0,...,0,1,0,0,0.0,0.0,0.0,0.0,0.0,1.0
267,2020-02-10,Selangor,1,1,0,3,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
283,2020-02-11,Selangor,0,0,0,3,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
299,2020-02-12,Selangor,0,0,0,3,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
315,2020-02-13,Selangor,0,0,0,3,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
sorted_importance = coviddf.corr()["cases_next_day"].abs().sort_values(ascending=False)
sorted_importance

KeyError: 'cases_next_day'

In [ ]:
coviddf2 = coviddf

In [ ]:
###Drop these field to remain only deaths_new
# deaths_unvax      15376 non-null  float64
# deaths_pvax       15376 non-null  float64
# deaths_fvax       15376 non-null  float64
# deaths_boost      15376 non-null  float64

In [ ]:
coviddf2 = coviddf2.drop(['deaths_unvax','deaths_pvax','deaths_fvax', 'deaths_boost'], axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

In [ ]:
#train test split
X = coviddf2.drop('deaths_new',axis=1)
y = coviddf2['deaths_new']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, shuffle = False )

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
linreg = LinearRegression()
decreg = DecisionTreeRegressor()

In [ ]:
#Linear Regression model
linreg.fit(X_train, y_train)
preds_lin = linreg.predict(X_test)

In [ ]:
decreg.fit(X_train,y_train)
preds_dec = decreg.predict(X_test)

In [ ]:
#overfitted model
preds_train_dec = decreg.predict(X_train)
r2_score(y_train,preds_train_dec)

In [ ]:
r2_score(y_test,preds_lin)

In [ ]:
r2_score(y_test,preds_dec)

In [ ]:
decreg2 = DecisionTreeRegressor(max_depth= 5)
decreg3 = DecisionTreeRegressor(max_depth= 4)

In [ ]:
decreg2.fit(X_train,y_train)
preds_dec2 = decreg2.predict(X_test)

In [ ]:
decreg3.fit(X_train,y_train)
preds_dec3 = decreg3.predict(X_test)

In [ ]:
preds_train_dec2 = decreg2.predict(X_train)
r2_score(y_train,preds_train_dec2)

In [ ]:
preds_train_dec3 = decreg3.predict(X_train)
r2_score(y_train,preds_train_dec3)

In [ ]:
decreg4 = DecisionTreeRegressor(max_depth= 3)
decreg4.fit(X_train,y_train)
preds_dec4 = decreg4.predict(X_test)
r2_score(y_test,preds_dec4)